<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="util-date">
  <template>
    <style>
    </style>

    <span>[[formatDate]]</span>
  </template>

  <script>
    class UtilDate extends Polymer.Element {
      static get is() { return 'util-date'; }

      static get properties() {
        return {
          inputDate: {
            type: Date,
            observer: '_formatDate'
          }
        }
      }

      _formatDate(d) {
        let date = new Date(d);
        var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour12: true }; 
        this.set('formatDate', date.toLocaleTimeString('es-PE', options));
      }
    }

    window.customElements.define(UtilDate.is, UtilDate);
  </script>
</dom-module>