<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="util-number">
  <template>
    <style>
    </style>

    <span>[[formatNumber]]</span>
  </template>

  <script>
    class UtilNumber extends Polymer.Element {
      static get is() { return 'util-number'; }

      static get properties() {
        return {
          inputNumber: {
            type: Number,
            observer: '_formatNumber'
          }
        }
      }

      _formatNumber(d) {
        let decimal = Number(d);
        let options = { minimumFractionDigits: 2, maximumFractionDigits: 2, currency: 'PEN' }; 
        this.set('formatNumber', decimal.toLocaleString('es-PE', options));
      }
    }

    window.customElements.define(UtilNumber.is, UtilNumber);
  </script>
</dom-module>