<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="app-menu">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgLogo { 
        width: 250px; 
        height: 250px; 
      }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <div class="navbar navbar-inverse set-radius-zero">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" class="img-fluid imgLogo" alt="TechU - Partitioner" />
          </a>
        </div>

        <div class="right-div">
          <button class="btn btn-warning pull-right" on-tap="logout">LOG ME OUT</button>
        </div>
      </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <div class="navbar-collapse collapse ">
              <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li><a href="#" class="menu-top-active">Bienvenidos a la Prueba TechU - Partitioner</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="content-wrapper">
      <div class="container">

        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6"></div>

          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-info back-widget-set text-center">
              <h3><a href="#" on-tap="_changeMenu">Usuarios</a></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-success back-widget-set text-center">
              <h3><a href="#" on-tap="_changeMenu2">Cuentas</a></h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-warning back-widget-set text-center">
              <h3><a href="#" on-tap="_changeMenu3">Movimientos</a></h3>
            </div>
          </div>
        </div>

        <template is="dom-if" if="{{_isEqualTo(menu, '00')}}">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <img src="assets/img/1.png" alt="" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="alert alert-info text-center">
                    <h3> IMPORTANT NOTICE</h3>
                    <hr />
                    <i class="fa fa-warning fa-4x"></i>
                    <p>
                      Agradecemos la formacion que se nos brindo,
                      Gracias a los formadores y a el grupo BBVA por preocuparse por
                      el desarrollo profesional de sus empledos.
                    </p>
                    <hr />
                    <a href="#" class="btn btn-info">Read Full Detalis</a>
                  </div>
                </div>

              </div>
            </div>
        </template>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-6">
            <template is="dom-if" if="{{_isEqualTo(menu, '01')}}">
              <view-usuarios api=[[api]]></view-usuarios>
            </template>
            <template is="dom-if" if="{{_isEqualTo(menu, '02')}}">
              <view-accounts api=[[api]]></view-accounts>
            </template>
            <template is="dom-if" if="{{_isEqualTo(menu, '03')}}">
              <view-movements api=[[api]]></view-movements>
            </template>
          </div>
        </div>
      </div>
    </div>

    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            &copy; 2018 Bbva.com |<a href="http://www.bbva.com/" target="_blank"> Designed by : Giovanny Martin - Jair
              De la hoz</a>
          </div>
        </div>
      </div>
    </section>
  </template>

  <script>
    class AppMenu extends Polymer.Element {
      static get is() { return 'app-menu'; }
      static get properties() {
        return {
          menu: {
            type: String,
            value: "00"
          },
          api: {
            type: Object
          }
        };
      }
      _isEqualTo(title, string) {
        return title == string;
      }
      _changeMenu() {
        this.menu = "01";
      }
      _changeMenu2() {
        this.menu = "02";
      }
      _changeMenu3() {
        this.menu = "03";
      }
      logout() {
        this.dispatchEvent(new CustomEvent('logout-ok'));
      }
    }
    window.customElements.define(AppMenu.is, AppMenu);
  </script>
</dom-module>