<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="app-login">

    <template>
        <style>
            :host { 
                display: block; 
                color: #185aa3; 
            }
            .card { 
                margin: 0 auto; 
                float: none; 
                margin-bottom: 10px; 
            }
            .btn btn-success { 
                padding: 1em 1em 1em 1em; 
                text-align: right;
            };
            a:hover { 
                color: white; 
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Ingresar email" value="{{email::input}}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
                </div>
                <button class="btn btn-success" on-tap="login">Ingresar</button>
            </div>
        </div>

    </template>

    <script>
        class AppLogin extends Polymer.Element {
            static get is() { return 'app-login'; }
            static get properties() {
                return {
                    email: {
                        type: String,
                        notify: true
                    }, password: {
                        type: String,
                        notify: true
                    }
                };
            }
            login() {
                this.dispatchEvent(new CustomEvent('login-ok'));
            }
        }
        window.customElements.define(AppLogin.is, AppLogin);
    </script>
</dom-module>