<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shared-styles">
    <template>
        <style>
                 .text-primary {
        color: #004481 !important;
      }
        </style>
    </template>
</dom-module>