<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .loadingIndicator {
        text-align: center;
        height: 40px;
      }

      paper-spinner {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      iron-list {
        padding-top: 16px;
        padding-bottom: 16px;

        --iron-list-items-container: {
          max-width: 800px;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        ;
      }

      .personItem {
        @apply --layout-horizontal;
        margin: 16px 16px 0 16px;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid #ddd;
      }

      .pad {
        padding: 0 16px;
        @apply --layout-flex;
        @apply --layout-vertical;
      }

      .container {
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      .primary {
        font-size: 16px;
        font-weight: bold;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc
        minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>
    </div>

    <div id="container" class="container">
      <iron-ajax id="ajax" url="{{url}}" loading="{{loadingPeople}}" handle-as="json" on-response="_didRespond"></iron-ajax>
      <iron-list id="list" indexAs="index" items="[]" as="item" scroll-target="threshold">
        <template>
          <div>
            <div class="personItem" tabindex$="[[tabIndex]]">
              <div class="pad">
                <div class="primary">[[index]] [[item.userid]] [[item.firstName]] [[item.lastName]]</div>
              </div>
            </div>
          </div>
        </template>
      </iron-list>


      <div class="loadingIndicator">
        <paper-spinner active="{{loadingPeople}}"></paper-spinner> Fetching data
      </div>

      <iron-scroll-threshold on-lower-threshold="loadMoreData" id="threshold" scroll-target="container"></iron-scroll-threshold>
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          response: {
            type: Array
          },
          user: {
            type: Number,
            value: 20
          }
        }
      }


      static get observers() { return ['_url(user)'] }
      _url(p) {
        console.log(p);
        this.url = "http://localhost:8090/api/users?limit=" + p;

      }

      loadMoreData() {
        console.log("God call me for every scroll");

        this.$.ajax.generateRequest();
      }

      onResponse() {
        console.log("God call me for every scroll");
        this.$.threshold.clearTriggers();
      }

      _didRespond(e) {
        var people = e.detail.response;
        people.forEach(function (person) {
          this.$.list.push('items', person);
        }, this);
        // Clear the lower threshold so we can load more data when the user scrolls
        // down again.
        this.$.threshold.clearTriggers();
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>