<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./shared-styles.html">
<link rel="import" href="./layout/techu-loading.html">
<link rel="import" href="./layout/techu-alert.html">

<dom-module id="techu-login">
    <template>
        <custom-style>
            <style is="custom-style" include="shared-styles">
                .form-login {
                    width: 100%;
                    max-width: 800px;
                    padding: 20px;
                    margin: 0 auto;
                }

                .form-login fieldset {
                    background: white;
                    padding: 25px;
                }

                .footer {
                    width: 100%;
                    height: 100%;
                    line-height: 50px;
                    text-align: center;
                    background-color: #004481 !important;
                }
            </style>
        </custom-style>

        <iron-ajax id="login" url="[[api.PATH_API]][[api.PATH_AUTHENTICATION]]/login" content-type="application/json"
            method="POST" handle-as="json" on-response="onAjaxLoginResponse" on-error="onAjaxLoginError"></iron-ajax>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-login" on-submit="onClickLogin">
                        <fieldset>
                            <legend class="text-center">
                                <img class="mb-4" src="../assets/img/logo.png" alt="Logo BBVA" width="120" height="120">
                                <h1 class="h3 mb-3 font-weight-bold">Techu BankApp - Login</h1>
                            </legend>
                            <div class="form-group form-row">
                                <label for="email" class="col-sm-2 col-form-label text-xs-left text-sm-right">Email :</label>
                                <div class="col-sm-10 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="email" type="email" class="form-control" placeholder="Ingresar Email"
                                        value="{{email::input}}" autocomplete="on" autofocus required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="password" class="col-sm-2 col-form-label text-xs-left text-sm-right">Password
                                    :</label>
                                <div class="col-sm-10 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="password" type="password" class="form-control" placeholder="Ingresar Password"
                                        value="{{password::input}}" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-link" on-click="onClickForgotPassword">Olvidaste
                                        tu contrase&ntilde;a?</button>
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-link" on-click="onClickUserSignup">Registrarse
                                        nuevo usuario?</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-10 offset-sm-2">
                                    <input type="submit" class="btn btn-primary mt-2" style="width: 120px;" value="Ingresar">
                                </div>
                            </div>
                            <div class="footer mt-5 form-row justify-content-center">
                                <p class="mb-2 text-white font-weight-bold">&copy; Copyright 2018-2019 -
                                    victor.andrade.bautista@bbva.com</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <techu-alert id="techuAlert"></techu-alert>
        <techu-loading id="techuLoading"></techu-loading>
    </template>

    <script>
        class TechuLogin extends Polymer.Element {
            static get is() { return 'techu-login'; }
            static get properties() {
                return {
                    api: Object,
                    dataSession: {
                        type: Object,
                        reflectToAttribute: true,
                        notify: true,
                        value: {}
                    },
                    email: String,
                    password: String
                };
            }

            onClickLogin(event) {
                event.preventDefault();

                this.$.login.body = JSON.stringify({
                    email: this.email,
                    password: this.password
                });
                this.$.login.generateRequest();

                this.$.techuLoading.open();
            }

            onClickForgotPassword(event) {
                window.history.pushState({}, null, '#/techu-user-forgot-password');
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            onClickUserSignup(event) {
                window.history.pushState({}, null, '#/techu-user-signup');
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            onAjaxLoginResponse(event) {
                this.$.techuLoading.close();

                let response = event.detail.xhr.response;

                this.dataSession = {
                    email: this.email,
                    idToken: response.idToken,
                    accessToken: response.accessToken,
                    refreshToken: response.refreshToken,
                    logged: true
                };

                window.history.pushState({}, null, '#/techu-main');
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            onAjaxLoginError(event) {
                this.$.techuLoading.close();

                let response = event.detail.request.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("danger", response.message);
            }
        }

        window.customElements.define(TechuLogin.is, TechuLogin);
    </script>
</dom-module>