<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/custom-style.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./shared-styles.html">
<link rel="import" href="./layout/techu-loading.html">
<link rel="import" href="./layout/techu-alert.html">

<link rel="lazy-import" href="./module/techu-home.html">
<link rel="lazy-import" href="./module/techu-accounts.html">
<link rel="lazy-import" href="./module/techu-movements.html">
<link rel="lazy-import" href="./module/techu-location.html">
<link rel="lazy-import" href="./module/techu-view404.html">

<dom-module id="techu-main">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        :host {
          --app-primary-color: #004481;
          --app-secondary-color: #fff;
          display: block;
        }

        app-drawer {
          --app-drawer-content-container: {
            background-color: #004481;
            border: 2px solid #fff;
          }
        }

        app-drawer-layout:not([narrow]) [drawer-toggle] {
          display: none;
        }

        app-header {
          color: #fff;
          background-color: var(--app-primary-color);
        }

        app-header paper-icon-button {
          --paper-icon-button-ink-color: #fff;
        }

        iron-pages {
          min-height: 300px;
        }

        .drawer-list {
          margin: 0 5px;
        }

        .drawer-list a {
          display: block;
          padding: 0 16px;
          text-decoration: none;
          color: var(--app-secondary-color);
          line-height: 40px;
        }

        .drawer-list a.iron-selected {
          color: #fff;
          font-weight: bold;
        }

        .footer {
          width: 100%;
          height: 100%;
          line-height: 50px;
          text-align: center;
          background-color: #004481 !important;
        }
      </style>
    </custom-style>

    <iron-ajax id="getUser" url="[[api.PATH_API]][[api.PATH_USERS]]/{{encodeUrl(dataSession.email)}}" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetUserResponse" on-error="onAjaxGetUserError"
      auto></iron-ajax>

    <iron-ajax id="logout" url="[[api.PATH_API]][[api.PATH_AUTHENTICATION]]/logout" headers='{{headers}}' content-type="application/json"
      method="POST" handle-as="json" on-response="onAjaxLogoutResponse" on-error="onAjaxLogoutError"></iron-ajax>

    <app-route route="{{route}}" pattern="/:module" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <app-drawer-layout id="drawerLayout" fullbleed narrow="{{narrow}}">
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
          <img src="../../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
          <h3>
            <span style="padding: 5px;display: inline-block;width: 160px;" class="badge badge-pill badge-primary">Techu
              - Menu</span>
          </h3>
        </app-toolbar>
        <iron-selector selected="[[module]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="techu-home" class="badge-primary" href="#[[rootPath]]techu-main/techu-home">Home</a>
          <a name="techu-accounts" class="badge-primary" href="#[[rootPath]]techu-main/techu-accounts">Cuentas</a>
          <a name="techu-movements" class="badge-primary" href="#[[rootPath]]techu-main/techu-movements">Movimientos</a>
          <a name="techu-location" class="badge-primary" href="#[[rootPath]]techu-main/techu-location">Localizaci&oacute;n</a>
          <a class="badge-primary" href="#" on-click="onClickChangePassword">Cambiar Password</a>
          <div class="text-center">
            <button class="btn btn-danger" on-click="onClickLogout">Cerrar Sesi&oacute;n</button>
          </div>
        </iron-selector>
      </app-drawer>

      <app-header-layout id="headerLayout" has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>
              Techu App Bank - Hola,
              <span class="font-weight-bold font-italic">{{currentUser.completeName}}</span>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[module]]" attr-for-selected="name" fallback-selection="techu-view404" role="main">
          <techu-home name="techu-home" data-session={{dataSession}} api=[[api]] route={{subroute}} module="{{module}}"
            scroll-target="{{scrollTarget}}"></techu-home>
          <techu-accounts name="techu-accounts" data-session={{dataSession}} api=[[api]] route={{subroute}} module="{{module}}"
            scroll-target="{{scrollTarget}}"></techu-accounts>
          <techu-movements name="techu-movements" data-session={{dataSession}} api=[[api]] route={{subroute}} module="{{module}}"
            scroll-target="{{scrollTarget}}"></techu-movements>
          <techu-location name="techu-location" data-session={{dataSession}} api=[[api]] route={{subroute}} module="{{module}}"
            scroll-target="{{scrollTarget}}"></techu-location>
          <techu-view404 name="techu-view404"></techu-view404>
        </iron-pages>
        <footer>
          <div class="footer mt-2">
            <p class="text-white font-weight-bold">&copy; Copyright 2018-2019 -
              victor.andrade.bautista@bbva.com</p>
          </div>
        </footer>
      </app-header-layout>
    </app-drawer-layout>

    <techu-alert id="techuAlert"></techu-alert>
    <techu-loading id="techuLoading"></techu-loading>
  </template>

  <script>
    Polymer.setPassiveTouchGestures(true);

    class TechuMain extends Polymer.Element {
      static get is() { return 'techu-main'; }

      static get properties() {
        return {
          api: Object,
          dataSession: {
            type: Object,
            reflectToAttribute: true,
            notify: true,
            value: {}
          },
          currentUser: {
            type: Object,
            reflectToAttribute: true,
            notify: true,
            value: {}
          },
          module: {
            type: String,
            reflectToAttribute: true,
            notify: true,
            observer: '_pageChanged',
          },
          scrollTarget: HTMLElement,
          routeData: Object,
          subroute: Object,
          rootPath: String,
          headers: {
            computed: 'getHeaderAuthentication()'
          }
        };
      }

      ready() {
        super.ready();

        this.scrollTarget = this.$.headerLayout.shadowRoot.querySelector("#contentContainer");
      }

      getHeaderAuthentication() {
        return {
          authorization: this.dataSession.idToken,
          idToken: this.dataSession.idToken,
          accessToken: this.dataSession.accessToken,
          refreshToken: this.dataSession.refreshToken
        };
      }

      encodeUrl(url) {
        return encodeURIComponent(url);
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.module)'
        ];
      }

      _routePageChanged(page) {
        this.module = page || 'techu-home';

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        const resolvedPageUrl = this.resolveUrl('module/' + page + '.html');
        Polymer.importHref(resolvedPageUrl, null, this._showPage404.bind(this), true);
      }

      _showPage404() {
        this.module = 'techu-view404';
      }

      onClickChangePassword(event) {
        event.preventDefault();

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

        window.history.pushState({}, null, '#/techu-user-change-password');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      onClickLogout(event) {
        event.preventDefault();

        this.$.logout.body = JSON.stringify({
          email: this.dataSession.email
        });
        this.$.logout.generateRequest();

        this.$.techuLoading.open();
      }

      onAjaxGetUserResponse(event) {
        let response = event.detail.xhr.response;

        this.currentUser = response;
      }

      onAjaxGetUserError(event) {
        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      onAjaxLogoutResponse(event) {
        this.$.techuLoading.close();

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

        this.dataSession = {};

        window.history.pushState({}, null, '#/techu-login');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      onAjaxLogoutError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }
    }

    window.customElements.define(TechuMain.is, TechuMain);
  </script>
</dom-module>