<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="./techu-login.html">
<link rel="lazy-import" href="./techu-main.html">
<link rel="lazy-import" href="./techu-user-signup.html">
<link rel="lazy-import" href="./techu-user-change-password.html">
<link rel="lazy-import" href="./techu-user-forgot-password.html">

<dom-module id="techu-app">
    <template>
        <style>
        </style>

        <app-localstorage-document key="dataSession" data="{{dataSession}}" session-only="true"></app-localstorage-document>

        <app-location route="{{route}}" url-space-regex="^[[rootPath]]" use-hash-as-path>
        </app-location>

        <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
        </app-route>

        <iron-pages selected="[[page]]" attr-for-selected="data-route" default-selected="techu-login">
            <techu-login data-route="techu-login" data-session={{dataSession}} api=[[api]] route={{subroute}}></techu-login>
            <techu-main data-route="techu-main" data-session={{dataSession}} api=[[api]] route={{subroute}}></techu-main>
            <techu-user-signup data-route="techu-user-signup" data-session={{dataSession}} api=[[api]] route={{subroute}}></techu-user-signup>
            <techu-user-change-password data-route="techu-user-change-password" data-session={{dataSession}} api=[[api]]
                route={{subroute}}></techu-user-change-password>
            <techu-user-forgot-password data-route="techu-user-forgot-password" data-session={{dataSession}} api=[[api]]
                route={{subroute}}></techu-user-forgot-password>
        </iron-pages>
    </template>

    <script>
        class TechuApp extends Polymer.Element {
            static get is() { return 'techu-app'; }

            static get properties() {
                return {
                    api: {
                        type: Object,
                        value: {
                            "PATH_API": "https://br1nswogv0.execute-api.us-east-1.amazonaws.com/prod2/",
                            "PATH_AUTHENTICATION": "authentication",
                            "PATH_USERS": "users",
                            "PATH_ACCOUNTS": "accounts",
                            "PATH_MOVEMENTS": "movements",
                            "PATH_LOCATIONS": "locations"
                        }
                    },
                    dataSession: {
                        type: Object,
                        reflectToAttribute: true,
                        notify: true,
                        value: {}
                    },
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: Object,
                    rootPath: String
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            _routePageChanged(page) {
                if (page && (!this.dataSession || !this.dataSession.logged)) {
                    if (page == 'techu-main' || page == 'techu-user-change-password') {
                        this.page = 'techu-login'
                        window.location.hash = '/techu-login';
                    } else {
                        this.page = page
                    }
                } else if (page && (this.dataSession && this.dataSession.logged)) {
                    if (page != 'techu-main' && page != 'techu-user-change-password') {
                        this.page = 'techu-main'
                        window.location.hash = '/techu-main';
                    } else {
                        this.page = page
                    }
                } else if (this.dataSession && this.dataSession.logged) {
                    this.page = 'techu-main'
                    window.location.hash = '/techu-main';
                } else {
                    this.page = 'techu-login'
                    window.location.hash = '/techu-login';
                }
            }

            _pageChanged(page) {
                const resolvedPageUrl = this.resolveUrl(page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'view404';
            }
        }

        window.customElements.define(TechuApp.is, TechuApp);
    </script>
</dom-module>