<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./shared-styles.html">
<link rel="import" href="./layout/techu-loading.html">
<link rel="import" href="./layout/techu-alert.html">

<dom-module id="techu-user-change-password">
    <template>
        <custom-style>
            <style is="custom-style" include="shared-styles">
                .form-change-password {
                    width: 100%;
                    max-width: 800px;
                    padding: 20px;
                    margin: 0 auto;
                }

                .form-change-password fieldset {
                    background: white;
                    padding: 25px;
                }
            </style>
        </custom-style>

        <iron-ajax id="changePassword" url="[[api.PATH_API]][[api.PATH_AUTHENTICATION]]/password/forgot" content-type="application/json"
            method="POST" handle-as="json" on-response="onAjaxChangePasswordResponse" on-error="onAjaxChangePasswordError"></iron-ajax>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-change-password" on-submit="onClickChangePassword">
                        <fieldset>
                            <legend class="text-center">
                                <img class="mb-4" src="../assets/img/logo.png" alt="Logo BBVA" width="120" height="120">
                                <h1 class="h3 mb-3 font-weight-bold">Techu BankApp - Cambiar Contrase&ntilde;a</h1>
                            </legend>
                            <div class="form-group form-row">
                                <label for="oldPassword" class="col-sm-12 col-form-label text-xs-left">Password
                                    Actual :</label>
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="oldPassword" type="password" class="form-control" placeholder="Ingresar Password Actual"
                                        value="{{oldPassword::input}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*@#$%&+=?]).{8,}"
                                        required title="M&iacute;nimo 8 caracteres, debe tener un n&uacute;mero, una min&uacute;scula, una may&uacute;scula, un caracter especial">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="newPassword" class="col-sm-12 col-form-label text-xs-left">Nuevo Password
                                    :</label>
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="newPassword" type="password" class="form-control" placeholder="Ingresar Nuevo Password"
                                        value="{{newPassword::input}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*@#$%&+=?]).{8,}"
                                        required title="M&iacute;nimo 8 caracteres, debe tener un n&uacute;mero, una min&uacute;scula, una may&uacute;scula, un caracter especial">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="newPasswordConfirm" class="col-sm-12 col-form-label text-xs-left">Nuevo
                                    Password (Confirmar) :</label>
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="newPasswordConfirm" type="password" class="form-control" placeholder="Confirmar Nuevo Password"
                                        value="{{newPasswordConfirm::input}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*@#$%&+=?]).{8,}"
                                        required title="M&iacute;nimo 8 caracteres, debe tener un n&uacute;mero, una min&uacute;scula, una may&uacute;scula, un caracter especial">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-4 offset-sm-2">
                                    <input type="submit" class="btn btn-primary mt-2" style="width: 100px;" value="Cambiar">
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-primary" style="width: 100px;" on-click="onClickReturnMain">Regresar</button>
                                </div>
                            </div>
                            <div class="footer mt-5 form-row justify-content-center">
                                <p class="mb-2 text-white font-weight-bold">&copy; Copyright 2018-2019 -
                                    victor.andrade.bautista@bbva.com</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <techu-alert id="techuAlert"></techu-alert>
        <techu-loading id="techuLoading"></techu-loading>
    </template>

    <script>
        class TechuUserChangePassword extends Polymer.Element {
            static get is() { return 'techu-user-change-password'; }

            static get properties() {
                return {
                    email: {
                        type: String,
                        notify: true
                    },
                    oldPassword: {
                        type: String,
                        notify: true
                    },
                    newPassword: {
                        type: String,
                        notify: true
                    },
                    newPasswordConfirm: {
                        type: String,
                        notify: true
                    }
                };
            }

            onClickChangePassword(event) {
                event.preventDefault();

                if (this.newPassword != this.newPasswordConfirm) {
                    this.$.techuAlert.open("danger", "Debe confirmar el nuevo password correctamente");
                    return;
                }

                this.$.changePassword.body = JSON.stringify({
                    email: this.email,
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword
                });
                this.$.changePassword.generateRequest();

                this.$.techuLoading.open();
            }

            onClickReturnMain(event) {
                window.history.pushState({}, null, '#/techu-main');
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            onAjaxChangePasswordResponse(event) {
                this.$.techuLoading.close();

                let response = event.detail.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("success", response.message);
            }

            onAjaxChangePasswordError(event) {
                this.$.techuLoading.close();

                let response = event.detail.request.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("danger", response.message);
            }
        }

        window.customElements.define(TechuUserChangePassword.is, TechuUserChangePassword);
    </script>
</dom-module>