<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="./shared-styles.html">
<link rel="import" href="./layout/techu-loading.html">
<link rel="import" href="./layout/techu-alert.html">

<dom-module id="techu-user-forgot-password">
    <template>
        <custom-style>
            <style is="custom-style" include="shared-styles">
                .form-forgot-password {
                    width: 100%;
                    max-width: 800px;
                    padding: 20px;
                    margin: 0 auto;
                }

                .form-forgot-password fieldset {
                    background: white;
                    padding: 25px;
                }

                .form-confirm {
                    width: 100%;
                    max-width: 800px;
                    padding: 20px;
                    margin: 0 auto;
                }

                .form-confirm fieldset {
                    background: white;
                    padding: 25px;
                }

                .footer {
                    width: 100%;
                    height: 100%;
                    line-height: 50px;
                    text-align: center;
                    background-color: #004481 !important;
                }
            </style>
        </custom-style>

        <iron-ajax id="forgotPassword" url="[[api.PATH_API]][[api.PATH_AUTHENTICATION]]/password/forgot" content-type="application/json"
            method="POST" handle-as="json" on-response="onAjaxForgotPasswordResponse" on-error="onAjaxForgotPasswordError"></iron-ajax>
        <iron-ajax id="confirmPassword" url="[[api.PATH_API]][[api.PATH_AUTHENTICATION]]/password/confirm" content-type="application/json"
            method="POST" handle-as="json" on-response="onAjaxConfirmPasswordResponse" on-error="onAjaxConfirmPasswordError"></iron-ajax>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-forgot-password" on-submit="onClickForgotPassword">
                        <fieldset>
                            <legend class="text-center">
                                <img class="mb-4" src="../assets/img/logo.png" alt="Logo BBVA" width="120" height="120">
                                <h1 class="h3 mb-3 font-weight-bold">Techu BankApp - Recordar Contrase&ntilde;a</h1>
                            </legend>
                            <div class="form-group form-row">
                                <label for="email" class="col-sm-12 col-form-label text-xs-left">Email :</label>
                                <div class="col-sm-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="email" type="email" class="form-control" placeholder="Ingresar Email"
                                        value="{{email::input}}" autocomplete="on" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-4 offset-sm-2">
                                    <input type="submit" class="btn btn-primary mt-2" style="width: 100px;" value="Recordar">
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-primary" style="width: 100px;" on-click="onClickReturnLogin">Regresar</button>
                                </div>
                            </div>
                            <div class="footer mt-5 form-row justify-content-center">
                                <p class="mb-2 text-white font-weight-bold">&copy; Copyright 2018-2019 -
                                    victor.andrade.bautista@bbva.com</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <paper-dialog id='modalConfirmationCode' with-backdrop modal>
            <div class="card-header" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;">
                <div class="row text-center">
                    <div class="col-2">
                        <img src="../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
                    </div>
                    <div class="col-8 text-center align-self-center">
                        <h3 class="h3 mb-1 font-weight-bold">
                            <span style="padding: 5px;">Confirmar C&oacute;digo</span>
                        </h3>
                    </div>
                    <div class="col-2 text-right">
                        <paper-button dialog-dismiss class="btn btn-link btn-outline-primary btn-sm font-weight-bold"
                            style="width: 50px;margin: -1rem -1rem -1rem auto;">X</paper-button>
                    </div>
                </div>
            </div>
            <paper-dialog-scrollable style="margin-top: 10px;padding: 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-confirm" on-submit="onClickConfirmPassword">
                                <div class="form-row">
                                    <div class="col-sm-12 mb-1 alert alert-light">
                                        <p>Un c&oacute;digo de confirmaci&oacute;n ha sido enviado a su email.</p>
                                        <p>Por favor ingrese el c&oacute;digo de confirmaci&oacute;n.</p>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label for="newPassword" class="col-sm-12 col-form-label text-xs-left">Nuevo
                                        Password :</label>
                                    <div class="col-sm-12 input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input name="newPassword" type="password" class="form-control" placeholder="Ingresar Password"
                                            value="{{newPassword::input}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*@#$%&+=?]).{8,}"
                                            required title="M&iacute;nimo 8 caracteres, debe tener un n&uacute;mero, una min&uacute;scula, una may&uacute;scula, un caracter especial">
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label for="newPasswordConfirm" class="col-sm-12 col-form-label text-xs-left">Nuevo
                                        Password (Confirmar) :</label>
                                    <div class="col-sm-12 input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input name="newPasswordConfirm" type="password" class="form-control"
                                            placeholder="Confirmar Password" value="{{newPasswordConfirm::input}}"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[*@#$%&+=?]).{8,}" required
                                            title="M&iacute;nimo 8 caracteres, debe tener un n&uacute;mero, una min&uacute;scula, una may&uacute;scula, un caracter especial">
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label for="confirmCode" class="col-sm-12 col-form-label text-xs-left">C&oacute;digo
                                        :</label>
                                    <div class="col-sm-12 input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input name="confirmCode" type="text" class="form-control" placeholder="C&oacute;digo de Confirmaci&oacute;n"
                                            value="{{confirmCode::input}}" required>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <input type="submit" class="btn btn-primary mt-2" style="width: 100px;" value="Confirmar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>

        <techu-alert id="techuAlert"></techu-alert>
        <techu-loading id="techuLoading"></techu-loading>
    </template>

    <script>
        class TechuUserForgotPassword extends Polymer.Element {
            static get is() { return 'techu-user-forgot-password'; }

            static get properties() {
                return {
                    email: {
                        type: String,
                        notify: true
                    },
                    newPassword: {
                        type: String,
                        notify: true
                    },
                    newPasswordConfirm: {
                        type: String,
                        notify: true
                    },
                    confirmCode: {
                        type: String,
                        notify: true
                    }
                };
            }

            onClickForgotPassword(event) {
                event.preventDefault();

                this.$.forgotPassword.body = JSON.stringify({
                    email: this.email
                });
                this.$.forgotPassword.generateRequest();

                this.$.techuLoading.open();
            }

            onClickReturnLogin(event) {
                window.history.pushState({}, null, '#/techu-login');
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            onClickConfirmPassword(event) {
                event.preventDefault();

                if (this.newPassword != this.newPasswordConfirm) {
                    this.$.techuAlert.open("danger", "Debe confirmar el password correctamente");
                    return;
                }

                this.$.confirmPassword.body = JSON.stringify({
                    email: this.email,
                    newPassword: this.newPassword,
                    confirmCode: this.confirmCode
                });
                this.$.confirmPassword.generateRequest();

                this.$.techuLoading.open();
            }

            onAjaxForgotPasswordResponse(event) {
                this.$.techuLoading.close();

                this.$.modalConfirmationCode.open();
            }

            onAjaxForgotPasswordError(event) {
                this.$.techuLoading.close();

                let response = event.detail.request.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("danger", response.message);
            }

            onAjaxConfirmPasswordResponse(event) {
                this.$.techuLoading.close();

                this.$.modalConfirmationCode.close();

                let response = event.detail.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("success", response.message);
            }

            onAjaxConfirmPasswordError(event) {
                this.$.techuLoading.close();

                let response = event.detail.request.xhr.response;
                let message = response.message;
                this.$.techuAlert.open("danger", response.message);
            }
        }

        window.customElements.define(TechuUserForgotPassword.is, TechuUserForgotPassword);
    </script>
</dom-module>