<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/custom-style.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="./techu-accounts-detail.html">

<link rel="import" href="../component/util-date.html">
<link rel="import" href="../component/util-number.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../layout/techu-loading.html">
<link rel="import" href="../layout/techu-alert.html">

<dom-module id="techu-accounts">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        .form-account {
          width: 100%;
          max-width: 800px;
          padding: 20px;
          margin: 0 auto;
        }
      </style>
    </custom-style>

    <iron-ajax id="getAllAccounts" url="[[api.PATH_API]][[api.PATH_ACCOUNTS]]/?limit={{limit}}&skip={{skip}}" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAllAccountsResponse" on-error="onAjaxGetAllAccountsError"></iron-ajax>
    <iron-ajax id="createAccount" url="[[api.PATH_API]][[api.PATH_ACCOUNTS]]/" headers='{{headers}}' content-type="application/json"
      method="POST" handle-as="json" on-response="onAjaxCreateAccountResponse" on-error="onAjaxCreateAccountError"></iron-ajax>
    <iron-ajax id="getAccount" url="[[api.PATH_API]][[api.PATH_ACCOUNTS]]/{{account.accountNumber}}" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAccountResponse" on-error="onAjaxGetAccountError"></iron-ajax>

    <app-route route="{{route}}" pattern="/:id" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-pages selected="[[mainSelected]]" attr-for-selected="page-name">
      <div page-name="main" class="container">
        <div class="row mt-3">
          <div class="col-12">
            <button class="btn btn-primary" style="width: 120px;" on-click="onClickOpenAccount">Abrir Cuenta</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <iron-list id="list" indexAs="index" items="[]" as="item" scroll-target="[[scrollTarget]]">
              <template>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin: 10px 0px 10px 0px;"
                    on-click="onClickDetail">
                    <div class="d-flex w-100 justify-content-between mb-1">
                      <h5 class="font-weight-bold">[[item.accountName]] ([[item.typeAccount]])</h5>
                      <small class="font-weight-bold">[[item.typeCurrency]]</small>
                    </div>
                    <div class="mb-1">
                      <span class="font-weight-bold text-primary" style="display: inline-block;width: 100px;">Disponible</span>
                      <span style="display: inline-block;width: 20px;">:</span>
                      <span class="font-weight-bold text-primary">
                        <util-number input-number=[[item.currentBalance]]></util-number>
                      </span>
                    </div>
                    <div class="mb-1">
                      <span style="display: inline-block;width: 100px;">Contable</span>
                      <span style="display: inline-block;width: 20px;">:</span>
                      <span>
                        <util-number input-number=[[item.availableBalance]]></util-number>
                      </span>
                    </div>
                    <div>
                      <small>N&uacute;mero de Cuenta : </small>
                      <small>[[item.accountNumber]]</small>
                    </div>
                  </a>
                </div>
              </template>
            </iron-list>
            <iron-scroll-threshold on-lower-threshold="loadMoreDataAccounts" id="thresholdAccounts" scroll-target="[[scrollTarget]]"></iron-scroll-threshold>
          </div>
        </div>
      </div>
      <div page-name="detail" class="container">
        <techu-accounts-detail></techu-accounts-detail>
      </div>
    </iron-pages>

    <paper-dialog id='modalCreateAccount' with-backdrop modal>
      <div class="card-header" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;">
        <div class="row text-center">
          <div class="col-2">
            <img src="../../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
          </div>
          <div class="col-8 text-center align-self-center">
            <h3 class="h3 mb-1 font-weight-bold">
              <span style="padding: 5px;">Abrir Cuenta</span>
            </h3>
          </div>
          <div class="col-2 text-right">
            <paper-button dialog-dismiss class="btn btn-link btn-outline-primary btn-sm font-weight-bold" style="width: 50px;margin: -1rem -1rem -1rem auto;">X</paper-button>
          </div>
        </div>
      </div>
      <paper-dialog-scrollable style="margin-top: 10px;padding: 0;">
        <div class="container" style="padding: 0px;">
          <paper-tabs id="tabs" class="form-row mb-2" selected="{{selected}}">
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Cuenta</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Identidad</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Ocupaci&oacute;n</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">T&eacute;rminos y Condiciones</span>
            </paper-tab>
          </paper-tabs>
          <iron-pages selected="{{selected}}">
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateAccountModalAfter">
                <div class="form-group form-row">
                  <label for="typeCategory" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de
                    Categoria :</label>
                  <div class="col-sm-9 input-group">
                    <select name="typeCategory" class="custom-select" value="{{account.typeCategory::input}}" required>
                      <option value="" selected>Seleccione el tipo de categoria</option>
                      <option value="Persona">Persona</option>
                      <option value="Empresa">Empresa</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select name="typeCurrency" class="custom-select" value="{{account.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeAccount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Cuenta :</label>
                  <div class="col-sm-9 input-group">
                    <select name="typeAccount" class="custom-select" value="{{account.typeAccount::input}}" required>
                      <option value="" selected>Seleccione el tipo de cuenta</option>
                      <option value="Cuenta de Ahorro">Cuenta de Ahorro</option>
                      <option value="Cuenta Corriente">Cuenta Corriente</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="openingAmount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto de
                    Apertura :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="openingAmount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{account.openingAmount::input}}" min="0" autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Continuar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateAccountModalAfter">
                <div class="form-group form-row">
                  <div class="col-sm-12 mb-3 text-primary">
                    <p class="h5">¿Cumple con los siguientes requisitos?</p>
                  </div>
                  <div class="col-sm-12 mb-3">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nac&iacute; en PER&Uacute;
                        <span class="badge badge-success badge-pill">OK</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Mi &uacute;nica nacionalidad es PERUANA
                        <span class="badge badge-success badge-pill">OK</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cuento con domicilio(s) s&oacute;lo en PER&Uacute;
                        <span class="badge badge-success badge-pill">OK</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tengo residencia fiscal &uacute;nicamente en PER&Uacute;
                        <span class="badge badge-success badge-pill">OK</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 mb-1 alert alert-warning">
                    <p class="text-justify">Declaro que mi respuesta es cierta, completa y actualizada con el
                      compromiso de informar si se produce
                      un cambio. Esta informaci&oacute;n tiene car&aacute;cter de Declaraci&oacute;n Jurada,
                      seg&uacute;n
                      lo establecido por el art&iacute;culo 179° de la Ley N° 26702.</p>
                  </div>
                </div>
                <div class="form-group form-row justify-content-center mt-5">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="confirmIdentityData" id="confirmIdentityData"
                      checked="{{account.confirmIdentityData::input}}" required>
                    <label class="custom-control-label font-weight-bold h6" for="confirmIdentityData">Confirmo con
                      respecto a mis datos de identidad.</label>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-6 col-6 form-row justify-content-start">
                    <button class="btn btn-primary" style="width: 100px;" on-click="onClickCreateAccountModalBefore">Regresar</button>
                  </div>
                  <div class="col-sm-6 col-6 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Continuar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateAccountModalAfter">
                <div class="form-group form-row">
                  <label for="ocupationCompanyName" class="col-sm-3 col-form-label text-xs-left text-sm-right">Nombre
                    de Empresa :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="ocupationCompanyName" type="text" class="form-control" placeholder="Ingresar Nombre de Empresa"
                      value="{{account.ocupationCompanyName::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="ocupationName" class="col-sm-3 col-form-label text-xs-left text-sm-right">Nombre de
                    Ocupaci&oacute;n :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="ocupationName" type="text" class="form-control" placeholder="Ingresar Nombre de Ocupaci&oacute;n"
                      value="{{account.ocupationName::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="ocupationAverageSalary" class="col-sm-3 col-form-label text-xs-left text-sm-right">Sueldo
                    Promedio :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="ocupationAverageSalary" type="number" class="form-control" placeholder="Ingresar Sueldo Promedio"
                      value="{{account.ocupationAverageSalary::input}}" min="0" autocomplete="on" required>
                    <div class="input-group-append">
                      <span class="input-group-text">(S/.)</span>
                    </div>
                  </div>
                </div>
                <div class="form-group form-row justify-content-center mt-5">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="confirmOccupationData" id="confirmOccupationData"
                      checked="{{account.confirmOccupationData::input}}" required>
                    <label class="custom-control-label font-weight-bold h6" for="confirmOccupationData">Confirmo con
                      respecto a mis datos de ocupaci&oacute;n.</label>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-6 col-6 form-row justify-content-start">
                    <button class="btn btn-primary" style="width: 100px;" on-click="onClickCreateAccountModalBefore">Regresar</button>
                  </div>
                  <div class="col-sm-6 col-6 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Continuar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateAccount">
                <div class="form-group form-row">
                  <div class="col-sm-12 mb-1 alert alert-warning">
                    <p class="text-justify">Por favor, revisa los documentos contractuales para la contrataci&oacute;n.
                      Si est&aacute;s de acuerdo,
                      ingresa el c&oacute;digo enviado a tu celular.
                    </p>
                    <ul>
                      <li>
                        <a href="#">Cláusulas Generales de Contratación </a>
                      </li>
                      <li>
                        <a href="#">Condiciones Específicas y Cartilla de Información</a>
                      </li>
                      <li>
                        <a href="#">Condiciones del Premio</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group form-row justify-content-center box-sms">
                  <div class="col-sm-12">
                    <p class="text-center">Ingresa el c&oacute;digo de contrataci&oacute;n enviado a tu celular.</p>
                  </div>
                  <div class="col-sm-4">
                    <input name="ocupationName" type="text" class="form-control" placeholder="Ingresar C&oacute;digo"
                      value="{{account.confirmationCode::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row justify-content-center mt-4">
                  <label for="ocupationAverageSalary" class="col-sm-6 col-form-label text-xs-left text-sm-right">¿No te
                    lleg&oacute; el c&oacute;digo? Te podemos enviar otro al :</label>
                  <div class="col-sm-4 input-group">
                    <input name="phoneNumber" type="text" class="form-control" placeholder="N&uacute;mero de Celular"
                      value="{{account.phoneNumber::input}}" autocomplete="on">
                    <div class="input-group-append">
                      <button class="btn btn-primary" style="width: 100px;" on-click="onClickCreateAccountModalBefore">Enviar</button>
                    </div>
                  </div>
                </div>
                <div class="form-group form-row justify-content-center mt-5">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="confirmTermsConditions" id="confirmTermsConditions"
                      checked="{{account.confirmTermsConditions::input}}" required>
                    <label class="custom-control-label font-weight-bold h6" for="confirmTermsConditions">He leido y
                      acepto los t&eacute;rminos y condiciones contractuales.</label>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-6 col-6 form-row justify-content-start">
                    <button class="btn btn-primary" style="width: 100px;" on-click="onClickCreateAccountModalBefore">Regresar</button>
                  </div>
                  <div class="col-sm-6 col-6 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Contratar">
                  </div>
                </div>
              </form>
            </div>
          </iron-pages>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <paper-dialog id='modalViewAccount' with-backdrop modal>
      <div class="card-header" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;">
        <div class="row text-center">
          <div class="col-2">
            <img src="../../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
          </div>
          <div class="col-8 text-center align-self-center">
            <h3 class="h3 mb-1 font-weight-bold">
              <span style="padding: 5px;">Visualizar Cuenta</span>
            </h3>
          </div>
          <div class="col-2 text-right">
            <paper-button dialog-dismiss class="btn btn-link btn-outline-primary btn-sm font-weight-bold" style="width: 50px;margin: -1rem -1rem -1rem auto;">X</paper-button>
          </div>
        </div>
      </div>
      <paper-dialog-scrollable style="margin-top: 10px;padding: 0;">
        <div class="container" style="padding: 0px;">
          <form style="padding: 20px;" on-submit="onClickCreateAccountModalAfter">
            <div class="form-group form-row">
              <label for="typeCategory" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de
                Categoria :</label>
              <div class="col-sm-9 input-group">
                <select name="typeCategory" class="custom-select" value="{{account.typeCategory::input}}" required>
                  <option value="" selected>Seleccione el tipo de categoria</option>
                  <option value="Persona">Persona</option>
                  <option value="Empresa">Empresa</option>
                </select>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
              <div class="col-sm-9 input-group">
                <select name="typeCurrency" class="custom-select" value="{{account.typeCurrency::input}}" required>
                  <option value="" selected>Seleccione el tipo de moneda</option>
                  <option value="Soles (S./)">Soles (S./)</option>
                  <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                </select>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="typeAccount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Cuenta :</label>
              <div class="col-sm-9 input-group">
                <select name="typeAccount" class="custom-select" value="{{account.typeAccount::input}}" required>
                  <option value="" selected>Seleccione el tipo de cuenta</option>
                  <option value="Cuenta de Ahorro">Cuenta de Ahorro</option>
                  <option value="Cuenta Corriente">Cuenta Corriente</option>
                </select>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="openingAmount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto de
                Apertura :</label>
              <div class="col-sm-9 input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input name="openingAmount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                  value="{{account.openingAmount::input}}" min="0" autocomplete="on" required>
              </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="form-group form-row alert alert-primary">
              <div class="col-sm-12 col-12 form-row justify-content-end">
                <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Continuar">
              </div>
            </div>
          </form>
        </div>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <techu-alert id="techuAlert"></techu-alert>
    <techu-loading id="techuLoading"></techu-loading>
  </template>

  <script>
    class TechuAccounts extends Polymer.Element {
      static get is() { return 'techu-accounts'; }

      static get properties() {
        return {
          id: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
          headers: {
            computed: 'getHeaderAuthentication()'
          },
          mainSelected: {
            type: String,
            value: 'main'
          },
          selected: {
            type: Number,
            value: 0
          },
          user: {
            type: Object,
            value: {}
          },
          accounts: {
            type: Object,
            value: []
          },
          account: {
            type: Object,
            value: {}
          },
          limit: {
            type: Number,
            value: 10
          },
          skip: {
            type: Number,
            value: 0
          },
          index: {
            type: Number,
            value: 0
          },
          scrollTarget: HTMLElement
        }
      }

      ready() {
        super.ready();
      }

      getHeaderAuthentication() {
        return {
          authorization: this.dataSession.idToken
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.id)'
        ]
      }

      _routePageChanged(page) {
        this.id = page;
      }

      loadMoreDataAccounts() {
        if (this.module == 'techu-accounts') {
          this.skip = 10 * this.index;

          this.$.getAllAccounts.body = JSON.stringify({});
          this.$.getAllAccounts.generateRequest();

          this.$.techuLoading.open();
        }
      }

      onAjaxGetAllAccountsResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;

        response.forEach(function (account) {
          this.$.list.push('items', account);
        }, this);

        setTimeout(() => {
          if (response && response.length > 0) {
            this.set('index', this.index + 1);
          }

          this.$.thresholdAccounts.clearTriggers();
        });
      }

      onAjaxGetAllAccountsError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      onClickOpenAccount(event) {
        event.preventDefault();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.modalCreateAccount);
        this.$.modalCreateAccount.open();
      }

      onClickCreateAccountModalAfter(event) {
        event.preventDefault();

        this.$.modalCreateAccount.notifyResize();

        this.selected = this.selected + 1;
      }

      onClickCreateAccountModalBefore(event) {
        event.preventDefault();

        this.$.modalCreateAccount.notifyResize();

        this.selected = this.selected - 1;
      }

      onClickCreateAccount(event) {
        event.preventDefault();

        this.$.createAccount.body = JSON.stringify(this.account);
        this.$.createAccount.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onAjaxCreateAccountResponse(event) {
        this.$.techuLoading.close();

        this.$.modalCreateAccount.close();

        let response = event.detail.xhr.response;
        let message = response.message;

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuAlert);
        this.$.techuAlert.open("success", response.message);

        this.resetList();
      }

      onAjaxCreateAccountError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      resetList() {
        this.skip = 0;
        this.index = 0;
        this.$.list.items = [];

        this.loadMoreDataAccounts();
      }

      onClickDetail(event) {
        event.preventDefault();

        this.set('route.path', '/888')
      }

      _pageChanged(page) {
        if (page) {
          this.mainSelected = 'detail';
        } else {
          this.mainSelected = 'main';
        }
      }
    }

    window.customElements.define(TechuAccounts.is, TechuAccounts);
  </script>
</dom-module>