<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/custom-style.html">

<link rel="import" href="../component/util-date.html">
<link rel="import" href="../component/util-number.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="techu-accounts-detail">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        .form-account {
          width: 100%;
          max-width: 800px;
          padding: 20px;
          margin: 0 auto;
        }
      </style>
    </custom-style>

    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-primary" style="width: 120px;" on-click="onClickRegister">Abrir Cuenta</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <iron-list id="list" indexAs="index" items="[]" as="item" scroll-target="threshold">
            <template>
              <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin: 10px 0px 10px 0px;">
                  <div class="d-flex w-100 justify-content-between mb-1">
                    <h5 class="font-weight-bold">[[item.accountName]]</h5>
                    <small class="font-weight-bold">[[item.typeCurrency]]</small>
                  </div>
                  <div class="mb-1">
                    <span class="font-weight-bold text-primary" style="display: inline-block;width: 100px;">Disponible</span>
                    <span style="display: inline-block;width: 20px;">:</span>
                    <span class="font-weight-bold text-primary"><util-number input-number=[[item.currentBalance]]></util-number></span>
                  </div>
                  <div class="mb-1">
                    <span style="display: inline-block;width: 100px;">Contable</span>
                    <span style="display: inline-block;width: 20px;">:</span>
                    <span ><util-number input-number=[[item.availableBalance]]></util-number></span>
                  </div>
                  <div>
                    <small>N&uacute;mero de Cuenta : </small>
                    <small>[[item.accountNumber]]</small>
                  </div>
                </a>
              </div>
            </template>
          </iron-list>
          <div class="loadingIndicator">
            <paper-spinner active="{{loadingPeople}}"></paper-spinner> Fetching data
          </div>
          <iron-scroll-threshold on-lower-threshold="loadMoreData" id="threshold" scroll-target="container"></iron-scroll-threshold>
        </div>
      </div>
    </div>
  </template>

  <script>
    class TechuAccountsDetail extends Polymer.Element {
      static get is() { return 'techu-accounts-detail'; }

      static get properties() {
        return {
          response: {
            type: Array
          },
          selected: {
            type: Number,
            value: 0
          },
          user: {
            type: Object,
            value: {}
          },
          account: {
            type: Object,
            value: {}
          },
          phoneNumber: {
            type: String
          }
        }
      }



      static get observers() { return ['_url(user)'] }
      _url(p) {
        console.log(p);
        this.url = "http://localhost:8090/api/users?limit=" + p;

      }

      loadMoreData() {
        console.log("God call me for every scroll");
        for (let index = 0; index < 5; index++) {
          this.$.list.push('items', {
            typeCurrency: 'Soles (S/.)',
            accountName: 'Cuenta de Ahorros ' + (index + 1),
            accountNumber: '0011-1234567811',
            currentBalance: 276.44 * (index + 1),
            availableBalance: 200.44 * (index + 1)
          });
        }

        this.$.list.push('items', {
          typeCurrency: 'Dolares ($/.)',
          accountName: 'Cuenta Corriente',
          accountNumber: '0011-1234567811',
          currentBalance: 456788.44,
          availableBalance: 234567.44
        });
        this.$.ajax.generateRequest();
      }

      onResponse() {
        console.log("God call me for every scroll");
        this.$.threshold.clearTriggers();
      }

      _didRespond(e) {
        var people = e.detail.response;
        people.forEach(function (person) {
          this.$.list.push('items', person);
        }, this);
        // Clear the lower threshold so we can load more data when the user scrolls
        // down again.
        this.$.threshold.clearTriggers();
      }

      onClickRegister(event) {
        event.preventDefault();
        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.modalAccount);
        this.$.modalAccount.open();

      }

      onClickRegisterModal(event) {
        event.preventDefault();
        console.log(this.account);
        this.selected = this.selected + 1;
      }

      onClickRegisterBefore(event) {
        event.preventDefault();
        console.log("this.category, " + this.category);
        this.selected = this.selected - 1;
      }
    }

    window.customElements.define(TechuAccountsDetail.is, TechuAccountsDetail);
  </script>
</dom-module>