<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../layout/techu-loading.html">
<link rel="import" href="../layout/techu-alert.html">

<dom-module id="techu-location">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        google-map {
          min-height: 480px;
        }
      </style>
    </custom-style>

    <iron-ajax id="getAllOffices" url="[[api.PATH_API]][[api.PATH_LOCATIONS]]/offices" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAllOfficesResponse" on-error="onAjaxGetAllOfficesError"></iron-ajax>
    <iron-ajax id="getAllAgencies" url="[[api.PATH_API]][[api.PATH_LOCATIONS]]/agencies" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAllAgenciesResponse" on-error="onAjaxGetAllAgenciesError"></iron-ajax>
    <iron-ajax id="getAllAtms" url="[[api.PATH_API]][[api.PATH_LOCATIONS]]/atms" headers='{{headers}}' content-type="application/json"
      method="GET" handle-as="json" on-response="onAjaxGetAllAtmsResponse" on-error="onAjaxGetAllAtmsError"></iron-ajax>

    <div class="container mb-3">
      <div class="row mt-3 mb-3">
        <div class="col-12 btn-group justify-content-center">
          <button class="btn btn-primary" style="width: 120px;" on-click="onClickAll">Todos</button>
          <button class="btn btn-primary" style="width: 120px;" on-click="onClickOffices">Oficinas</button>
          <button class="btn btn-primary" style="width: 120px;" on-click="onClickAtms">Cajeros</button>
          <button class="btn btn-primary" style="width: 120px;" on-click="onClickAgents">Agentes</button>
        </div>
      </div>
      <google-map id="map" api-key="[[map.apiKey]]" latitude="[[map.latitude]]" longitude="[[map.longitude]]" language="[[map.language]]"
        zoom="[[map.zoom]]" min-zoom="[[map.minZoom]]" max-zoom="[[map.maxZoom]]" disable-street-view-control="true">
        <template is="dom-repeat" items="{{offices}}">
          <google-map-marker slot="markers" label="[[markerOffice.label]]" title="[[markerOffice.tooltip]]" icon="[[markerOffice.icon]]"
            latitude="[[item.latitude]]" longitude="[[item.longitude]]" draggable="false" drag-events>
            <div style="display: flex;align-items: center;">
              <img src="../../../assets/img/logo.png" alt="Logo BBVA" width="54" height="54">
              <span style="font-weight:bold;margin-left:5px;color:#004481;font-size:1.1em;">[[markerOffice.title]]</span>
            </div>
            <div>
              <p>[[item.name]]</p>
              <p>[[item.hours]]</p>
            </div>
          </google-map-marker>
        </template>
        <template is="dom-repeat" items="{{atms}}">
          <google-map-marker slot="markers" label="[[markerAtm.label]]" title="[[markerAtm.tooltip]]" icon="[[markerAtm.icon]]"
            latitude="[[item.latitude]]" longitude="[[item.longitude]]" draggable="false" drag-events>
            <div style="display: flex;align-items: center;">
              <img src="../../../assets/img/logo.png" alt="Logo BBVA" width="54" height="54">
              <span style="font-weight:bold;margin-left:5px;color:#004481;font-size:1.1em;">[[markerAtm.title]]</span>
            </div>
            <div>
              <p>[[item.name]]</p>
              <p>[[item.hours]]</p>
            </div>
          </google-map-marker>
        </template>
        <template is="dom-repeat" items="{{agents}}">
          <google-map-marker slot="markers" label="[[markerAgent.label]]" title="[[markerAgent.tooltip]]" icon="[[markerAgent.icon]]"
            latitude="[[item.latitude]]" longitude="[[item.longitude]]" draggable="false" drag-events>
            <div style="display: flex;align-items: center;">
              <img src="../../../assets/img/logo.png" alt="Logo BBVA" width="54" height="54">
              <span style="font-weight:bold;margin-left:5px;color:#004481;font-size:1.1em;">[[markerAgent.title]]</span>
            </div>
            <div>
              <p>[[item.name]]</p>
              <p>[[item.hours]]</p>
            </div>
          </google-map-marker>
        </template>
      </google-map>
    </div>

    <techu-alert id="techuAlert"></techu-alert>
    <techu-loading id="techuLoading"></techu-loading>
  </template>

  <script>
    class TechuLocation extends Polymer.Element {
      static get is() { return 'techu-location'; }

      static get properties() {
        return {
          headers: {
            computed: 'getHeaderAuthentication()'
          },
          map: {
            type: Object,
            value: {
              apiKey: 'AIzaSyBbWC6EkQKAu9jFBJ1q8bisiwPPHnU45C0',
              latitude: -12.0939282,
              longitude: -77.0233405,
              language: 'es',
              zoom: 16,
              minZoom: 10,
              maxZoom: 20
            }
          },
          markerOffice: {
            type: Object,
            value: {
              title: 'Oficina BBVA!',
              tooltip: 'Oficina!',
              label: 'Oficina',
              icon: {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                scale: 1,
                strokeColor: 'black',
                strokeOpacity: 0.6,
                strokeWeight: 1.0,
                fillColor: 'blue',
                fillOpacity: 0.6
              }
            }
          },
          markerAtm: {
            type: Object,
            value: {
              title: 'ATM BBVA!',
              tooltip: 'ATM!',
              label: 'ATM',
              icon: {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                scale: 1,
                strokeColor: 'black',
                strokeOpacity: 0.6,
                strokeWeight: 1.0,
                fillColor: 'yellow',
                fillOpacity: 0.6
              }
            }
          },
          markerAgent: {
            type: Object,
            value: {
              title: 'Agente BBVA!',
              tooltip: 'Agente!',
              label: 'Agente',
              icon: {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                scale: 1,
                strokeColor: 'black',
                strokeOpacity: 0.6,
                strokeWeight: 1.0,
                fillColor: 'red',
                fillOpacity: 0.6
              }
            }
          },
          offices: {
            type: Array,
            value: []
          },
          atms: {
            type: Array,
            value: []
          },
          agents: {
            type: Array,
            value: []
          }
        }
      }

      ready() {
        super.ready();
        this.loadOffices();
        this.loadAgencies();
        this.loadAtms();
      }

      getHeaderAuthentication() {
        return {
          authorization: this.dataSession.idToken
        };
      }

      onClickAll(e) {
        this.set('offices', []);
        this.set('agents', []);
        this.set('atms', []);

        this.loadOffices();
        this.loadAtms();
        this.loadAgencies();
      }

      onClickOffices(e) {
        this.set('offices', []);
        this.set('agents', []);
        this.set('atms', []);

        this.loadOffices();
      }

      onClickAtms(e) {
        this.set('offices', []);
        this.set('agents', []);
        this.set('atms', []);

        this.loadAtms();
      }

      onClickAgents(e) {
        this.set('offices', []);
        this.set('agents', []);
        this.set('atms', []);

        this.loadAgencies();
      }

      loadOffices() {
        this.$.getAllOffices.body = JSON.stringify({});
        this.$.getAllOffices.generateRequest();

        this.$.techuLoading.open();
      }

      onAjaxGetAllOfficesResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;
        this.set('offices', response);
      }

      onAjaxGetAllOfficesError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      loadAgencies() {
        this.$.getAllAgencies.body = JSON.stringify({});
        this.$.getAllAgencies.generateRequest();

        this.$.techuLoading.open();
      }

      onAjaxGetAllAgenciesResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;
        this.set('agents', response);
      }

      onAjaxGetAllAgenciesError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      loadAtms() {
        this.$.getAllAtms.body = JSON.stringify({});
        this.$.getAllAtms.generateRequest();

        this.$.techuLoading.open();
      }

      onAjaxGetAllAtmsResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;
        this.set('atms', response);
      }

      onAjaxGetAllAtmsError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }
    }

    window.customElements.define(TechuLocation.is, TechuLocation);
  </script>
</dom-module>