<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="techu-view404">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        :host {
          display: block;

          padding: 10px 20px;
        }
      </style>
    </custom-style>

    <div class="jumbotron">
      <h1 class="display-4">Oops, P&aacute;gina no encontrada!</h1>
      <p class="lead">Uy, has alcanzado un 404. Para regresar a la p&aacute;gina principal,
        <a href="#" on-click="onClickBackMain">Has click aqu&iacute;.</a>
      </p>
    </div>
  </template>

  <script>
    class TechuView404 extends Polymer.Element {
      static get is() { return 'techu-view404'; }

      static get properties() {
        return {

        };
      }

      onClickBackMain(event) {
        event.preventDefault();

        window.history.pushState({}, null, '#/techu-main/techu-home');
        window.dispatchEvent(new CustomEvent('location-changed'));
      }
    }

    window.customElements.define(TechuView404.is, TechuView404);
  </script>
</dom-module>