<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/custom-style.html">

<link rel="import" href="../component/util-date.html">
<link rel="import" href="../component/util-number.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../layout/techu-loading.html">
<link rel="import" href="../layout/techu-alert.html">

<dom-module id="techu-movements">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        .form-account {
          width: 100%;
          max-width: 800px;
          padding: 20px;
          margin: 0 auto;
        }
      </style>
    </custom-style>

    <iron-ajax id="getAllAccounts" url="[[api.PATH_API]][[api.PATH_ACCOUNTS]]/" headers='{{headers}}' content-type="application/json"
      method="GET" handle-as="json" on-response="onAjaxGetAllAccountsResponse" on-error="onAjaxGetAllAccountsError"></iron-ajax>
    <iron-ajax id="getAllMovements" url="[[api.PATH_API]][[api.PATH_MOVEMENTS]]/?limit={{limit}}&skip={{skip}}" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAllMovementsResponse"
      on-error="onAjaxGetAllMovementsError"></iron-ajax>
    <iron-ajax id="createMovement" url="[[api.PATH_API]][[api.PATH_MOVEMENTS]]/" headers='{{headers}}' content-type="application/json"
      method="POST" handle-as="json" on-response="onAjaxCreateMovementResponse" on-error="onAjaxCreateMovementError"></iron-ajax>

    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-12 btn-group">
          <button class="btn btn-primary" style="width: 140px;margin: 5px;" on-click="onClickTransfer">Transferir!</button>
          <button class="btn btn-primary" style="width: 140px;margin: 5px;" on-click="onClickPayment">Pagar!</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <iron-list id="list" indexAs="index" items="[]" as="item" scroll-target="{{scrollTarget}}">
            <template>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin: 10px 0px 10px 0px;">
                  <div class="d-flex w-100 justify-content-between mb-1">
                    <h5 class="font-weight-bold">
                      <util-date input-date=[[item.movementDate]]></util-date> -
                      <span>[[item.typeTransaction]]</span>
                    </h5>
                    <small class="font-weight-bold">[[item.typeCurrency]]</small>
                  </div>
                  <div class="row mb-1">
                    <span class="col-8">[[item.description]]</span>
                    <span class="col-4 text-right font-weight-bold">
                      <util-number input-number=[[item.amount]]></util-number>
                    </span>
                  </div>
                  <div>
                    <small>+ Cuenta de Cargo : </small>
                    <small>[[item.accountCharge]]</small>
                  </div>
                  <div>
                    <small>- Cuenta de Abono : </small>
                    <small>[[item.accountSubscription]]</small>
                  </div>
                </a>
              </div>
            </template>
          </iron-list>
          <iron-scroll-threshold on-lower-threshold="loadMoreDataMovements" id="thresholdMovements" scroll-target="{{scrollTarget}}"></iron-scroll-threshold>
        </div>
      </div>
    </div>

    <paper-dialog id='modalTransfer' with-backdrop modal>
      <div class="card-header" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;padding-right: 10px;">
        <div class="row text-center">
          <div class="col-2">
            <img src="../../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
          </div>
          <div class="col-8 text-center align-self-center">
            <h3 class="h3 mb-1 font-weight-bold">
              <span style="padding: 5px;">Realizar Transferencia</span>
            </h3>
          </div>
          <div class="col-2 text-right">
            <paper-button dialog-dismiss class="btn btn-link btn-outline-primary btn-sm font-weight-bold" style="width: 50px;">X</paper-button>
          </div>
        </div>
      </div>
      <paper-dialog-scrollable style="margin-top: 10px;padding: 0;">
        <div class="container" style="padding: 0px;">
          <paper-tabs id="tabs" class="form-row mb-2" selected="{{selected}}">
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Tipo de Transferencia</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Transferencia - A Mis Cuentas!</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Transferencia - A Terceros!</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Transferencia - A Otros Bancos!</span>
            </paper-tab>
          </paper-tabs>
          <iron-pages selected="{{selected}}">
            <div>
              <div class="row mt-3 mb-3">
                <div class="col-12 btn-group justify-content-center">
                  <button class="btn btn-primary" style="width: 250px;margin: 5px;" on-click="onClickTransferMy">Transferir
                    A Mis Cuentas!</button>
                </div>
                <div class="col-12 btn-group justify-content-center">
                  <button class="btn btn-primary" style="width: 250px;margin: 5px;" on-click="onClickTransferThird">Transferir
                    A Terceros!</button>
                </div>
                <div class="col-12 btn-group justify-content-center">
                  <button class="btn btn-primary" style="width: 250px;margin: 5px;" on-click="onClickTransferOther">Transferir
                    A Otros Bancos!</button>
                </div>
              </div>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateMovementTransferMy">
                <div class="form-group form-row">
                  <label for="accountCharge" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Cargo :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountCharge::input}}" required>
                      <option value="" selected>Seleccione la cuenta de cargo</option>
                      <dom-repeat items="[[accounts]]">
                        <template is="dom-repeat" items="[[accounts]]">
                          <option value="[[item.accountNumber]]">[[item.accountNumber]] - [[item.typeAccount]] /
                            <util-number input-number="[[item.currentBalance]]"></util-number>[[item.typeCurrency]]
                          </option>
                        </template>
                      </dom-repeat>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="accountSubscription" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta
                    de Abono :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="accountSubscription" type="text" class="form-control" placeholder="Ingresar Cuenta de Abono"
                      value="{{movement.accountSubscription::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="amount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto a
                    Transferir :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{movement.amount::input}}" min="0" step="0.01" autocomplete="on" lang="en" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="emailNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    Email :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="emailNotification" type="text" class="form-control" placeholder="Ingresar Email" value="{{movement.emailNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="smsNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    SMS :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="smsNotification" type="text" class="form-control" placeholder="Ingresar Celular" value="{{movement.smsNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Confirmar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateMovementTransferThird">
                <div class="form-group form-row">
                  <label for="accountCharge" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Cargo :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountCharge::input}}" required>
                      <option value="" selected>Seleccione la cuenta de cargo</option>
                      <dom-repeat items="[[accounts]]">
                        <template is="dom-repeat" items="[[accounts]]">
                          <option value="[[item.accountNumber]]">[[item.accountNumber]] - [[item.typeAccount]] /
                            [[_formatNumber(item.currentBalance)]] [[item.typeCurrency]]
                          </option>
                        </template>
                      </dom-repeat>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="accountSubscription" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta
                    de Abono :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="accountSubscription" type="text" class="form-control" placeholder="Ingresar Cuenta de Abono"
                      value="{{movement.accountSubscription::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="amount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto a
                    Transferir :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{movement.amount::input}}" min="0" step="0.01" autocomplete="on" lang="en" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="emailNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    Email :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="emailNotification" type="text" class="form-control" placeholder="Ingresar Email" value="{{movement.emailNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="smsNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    SMS :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="smsNotification" type="text" class="form-control" placeholder="Ingresar Celular" value="{{movement.smsNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Confirmar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateMovementTransferOther">
                <div class="form-group form-row">
                  <label for="accountCharge" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Cargo :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountCharge::input}}" required>
                      <option value="" selected>Seleccione la cuenta de cargo</option>
                      <dom-repeat items="[[accounts]]">
                        <template is="dom-repeat" items="[[accounts]]">
                          <option value="[[item.accountNumber]]">[[item.accountNumber]] - [[item.typeAccount]] /
                            <util-number input-number="[[item.currentBalance]]"></util-number>[[item.typeCurrency]]
                          </option>
                        </template>
                      </dom-repeat>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="accountSubscription" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta
                    de Abono :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="accountSubscription" type="text" class="form-control" placeholder="Ingresar Cuenta de Abono"
                      value="{{movement.accountSubscription::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="amount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto a
                    Transferir :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{movement.amount::input}}" min="0" step="0.01" autocomplete="on" lang="en" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="emailNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    Email :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="emailNotification" type="text" class="form-control" placeholder="Ingresar Email" value="{{movement.emailNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="smsNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    SMS :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="smsNotification" type="text" class="form-control" placeholder="Ingresar Celular" value="{{movement.smsNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Confirmar">
                  </div>
                </div>
              </form>
            </div>
          </iron-pages>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>
    <paper-dialog id='modalPayment' with-backdrop modal>
      <div class="card-header" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;padding-right: 10px;">
        <div class="row text-center">
          <div class="col-2">
            <img src="../../assets/img/logo.png" alt="Logo BBVA" width="64" height="64">
          </div>
          <div class="col-8 text-center align-self-center">
            <h3 class=" h3 mb-1 font-weight-bold">
              <span style="padding: 5px;">Realizar Pago</span>
            </h3>
          </div>
          <div class="col-2 text-right">
            <paper-button dialog-dismiss class="btn btn-link btn-outline-primary btn-sm font-weight-bold" style="width: 50px;">X</paper-button>
          </div>
        </div>
      </div>
      <paper-dialog-scrollable style="margin-top: 10px;padding: 0;">
        <div class="container" style="padding: 0px;">
          <paper-tabs id="tabs" class="form-row mb-2" selected="{{selected}}">
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Tipo de Pago</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Pago - Servicios!</span>
            </paper-tab>
            <paper-tab class="col-12 techu-tab">
              <span class="h5 font-weight-bold">Datos de Pago - Instituciones!</span>
            </paper-tab>
          </paper-tabs>
          <iron-pages selected="{{selected}}">
            <div>
              <div class="row mt-3 mb-3">
                <div class="col-12 btn-group justify-content-center">
                  <button class="btn btn-primary" style="width: 250px;margin: 5px;" on-click="onClickPaymentServices">Pagos
                    de Servicios!</button>
                </div>
                <div class="col-12 btn-group justify-content-center">
                  <button class="btn btn-primary" style="width: 250px;margin: 5px;" on-click="onClickPaymentInstitutions">Pagos
                    a Instituciones!</button>
                </div>
              </div>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateMovementPaymentServices">
                <div class="form-group form-row">
                  <label for="accountCharge" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Cargo :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountCharge::input}}" required>
                      <option value="" selected>Seleccione la cuenta de cargo</option>
                      <dom-repeat items="[[accounts]]">
                        <template is="dom-repeat" items="[[accounts]]">
                          <option value="[[item.accountNumber]]">[[item.accountNumber]] - [[item.typeAccount]] /
                            <util-number input-number="[[item.currentBalance]]"></util-number>[[item.typeCurrency]]
                          </option>
                        </template>
                      </dom-repeat>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="accountSubscription" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de
                    Servicio
                    :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountSubscription::input}}" required>
                      <option value="" selected>Seleccione el tipo de Servicio</option>
                      <option value="000001115558889">Telefon&iacute; Fija (Movistar)</option>
                      <option value="000001115558999">Telefon&iacute; M&oacute;vil (Movistar)</option>
                      <option value="000002224443338">Telefon&iacute; Fija (Claro)</option>
                      <option value="000002224447778">Telefon&iacute; M&oacute;vil (Claro)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="voucherNumber" class="col-sm-3 col-form-label text-xs-left text-sm-right">N&uacute;mero
                    de Comprobante :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="voucherNumber" type="text" class="form-control" placeholder="Ingresar N&uacute;mero de Comprobante"
                      value="{{movement.voucherNumber::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="amount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto a
                    Pagar :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{movement.amount::input}}" min="0" step="0.01" autocomplete="on" lang="en" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="emailNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    Email :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="emailNotification" type="text" class="form-control" placeholder="Ingresar Email" value="{{movement.emailNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="smsNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    SMS :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="smsNotification" type="text" class="form-control" placeholder="Ingresar Celular" value="{{movement.smsNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Confirmar">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <form style="padding: 20px;" on-submit="onClickCreateMovementPaymentInstitutions">
                <div class="form-group form-row">
                  <label for="accountCharge" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Cargo :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountCharge::input}}" required>
                      <option value="" selected>Seleccione la cuenta de cargo</option>
                      <dom-repeat items="[[accounts]]">
                        <template is="dom-repeat" items="[[accounts]]">
                          <option value="[[item.accountNumber]]">[[item.accountNumber]] - [[item.typeAccount]] /
                            [[_formatNumber(item.currentBalance)]] [[item.typeCurrency]]
                          </option>
                        </template>
                      </dom-repeat>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="accountSubscription" class="col-sm-3 col-form-label text-xs-left text-sm-right">Cuenta de
                    Instituci&oacute;n
                    :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.accountSubscription::input}}" required>
                      <option value="" selected>Seleccione la Instituci&oacute;n</option>
                      <option value="000003334446669">000003334446669 - Instituto Cibertec</option>
                      <option value="000005557772229">000005557772229 - Instituto Tecsup</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="voucherNumber" class="col-sm-3 col-form-label text-xs-left text-sm-right">N&uacute;mero
                    de Comprobante :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="voucherNumber" type="text" class="form-control" placeholder="Ingresar N&uacute;mero de Comprobante"
                      value="{{movement.voucherNumber::input}}" autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="typeCurrency" class="col-sm-3 col-form-label text-xs-left text-sm-right">Tipo de Moneda :</label>
                  <div class="col-sm-9 input-group">
                    <select class="custom-select" value="{{movement.typeCurrency::input}}" required>
                      <option value="" selected>Seleccione el tipo de moneda</option>
                      <option value="Soles (S./)">Soles (S./)</option>
                      <option value="D&oacute;lares ($)">D&oacute;lares ($)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="amount" class="col-sm-3 col-form-label text-xs-left text-sm-right">Monto a
                    Transferir :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Ingresar Monto de Apertura"
                      value="{{movement.amount::input}}" min="0" step="0.01" autocomplete="on" lang="en" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="emailNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    Email :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="emailNotification" type="text" class="form-control" placeholder="Ingresar Email" value="{{movement.emailNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label for="smsNotification" class="col-sm-3 col-form-label text-xs-left text-sm-right">Enviar
                    SMS :</label>
                  <div class="col-sm-9 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input name="smsNotification" type="text" class="form-control" placeholder="Ingresar Celular" value="{{movement.smsNotification::input}}"
                      autocomplete="on" required>
                  </div>
                </div>
                <hr class="mt-4 mb-4">
                <div class="form-group form-row alert alert-primary">
                  <div class="col-sm-12 col-12 form-row justify-content-end">
                    <input type="submit" class="btn btn-primary" style="width: 100px;margin: 0px -20px 0px 0px;" value="Confirmar">
                  </div>
                </div>
              </form>
            </div>
          </iron-pages>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <techu-alert id="techuAlert"></techu-alert>
    <techu-loading id="techuLoading"></techu-loading>
  </template>

  <script>
    class TechuMovements extends Polymer.Element {
      static get is() { return 'techu-movements'; }

      static get properties() {
        return {
          id: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
          headers: {
            computed: 'getHeaderAuthentication()'
          },
          mainSelected: {
            type: String,
            value: 'main'
          },
          selected: {
            type: Number,
            value: 0
          },
          user: {
            type: Object,
            value: {}
          },
          accounts: {
            type: Object,
            value: []
          },
          movements: {
            type: Object,
            value: []
          },
          movement: {
            type: Object,
            value: {}
          },
          limit: {
            type: Number,
            value: 10
          },
          skip: {
            type: Number,
            value: 0
          },
          index: {
            type: Number,
            value: 0
          },
          scrollTarget: HTMLElement
        }
      }

      ready() {
        super.ready();
      }

      getHeaderAuthentication() {
        return {
          authorization: this.dataSession.idToken
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.id)'
        ]
      }

      _routePageChanged(page) {
        this.id = page;
      }

      _formatNumber(d) {
        let decimal = Number(d);
        let options = { minimumFractionDigits: 2, maximumFractionDigits: 2, currency: 'PEN' };
        return decimal.toLocaleString('es-PE', options);
      }

      loadMoreDataMovements() {
        if (this.module == 'techu-movements') {
          this.skip = 10 * this.index;

          this.$.getAllMovements.body = JSON.stringify({});
          this.$.getAllMovements.generateRequest();

          this.$.techuLoading.open();
        }
      }

      onAjaxGetAllMovementsResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;

        response.forEach(function (movement) {
          this.$.list.push('items', movement);
        }, this);

        setTimeout(() => {
          if (response && response.length > 0) {
            this.set('index', this.index + 1);
          }

          this.$.thresholdMovements.clearTriggers();
        });
      }

      onAjaxGetAllMovementsError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      onClickTransfer(event) {
        event.preventDefault();

        this.selected = 0;
        this.movement = {};

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.modalTransfer);
        this.$.modalTransfer.open();

        this.loadAccounts();
      }

      onClickTransferMy(event) {
        this.selected = 1;

        this.$.modalTransfer.notifyResize();
      }

      onClickTransferThird(event) {
        this.selected = 2;

        this.$.modalTransfer.notifyResize();
      }

      onClickTransferOther(event) {
        this.selected = 3;

        this.$.modalTransfer.notifyResize();
      }

      loadAccounts() {
        this.$.getAllAccounts.body = JSON.stringify({});
        this.$.getAllAccounts.generateRequest();

        this.$.techuLoading.open();
      }

      onAjaxGetAllAccountsResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;
        this.accounts = response;
      }

      onAjaxGetAllAccountsError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      onClickPayment(event) {
        event.preventDefault();

        this.selected = 0;
        this.movement = {};

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.modalPayment);
        this.$.modalPayment.open();

        this.loadAccounts();
      }

      onClickPaymentServices(event) {
        this.selected = 1;

        this.$.modalPayment.notifyResize();
      }

      onClickPaymentInstitutions(event) {
        this.selected = 2;

        this.$.modalPayment.notifyResize();
      }

      onClickCreateMovementTransferMy(event) {
        event.preventDefault();

        this.movement.typeTransaction = 'Transferencia a Mis Cuentas';

        this.$.createMovement.body = JSON.stringify(this.movement);
        this.$.createMovement.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onClickCreateMovementTransferThird(event) {
        event.preventDefault();

        this.movement.typeTransaction = 'Transferencia a Terceros';

        this.$.createMovement.body = JSON.stringify(this.movement);
        this.$.createMovement.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onClickCreateMovementTransferOther(event) {
        event.preventDefault();

        this.movement.typeTransaction = 'Transferencia a Otros';

        this.$.createMovement.body = JSON.stringify(this.movement);
        this.$.createMovement.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onClickCreateMovementPaymentServices(event) {
        event.preventDefault();

        this.movement.typeTransaction = 'Pago de Servicios';

        this.$.createMovement.body = JSON.stringify(this.movement);
        this.$.createMovement.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onClickCreateMovementPaymentInstitutions(event) {
        event.preventDefault();

        this.movement.typeTransaction = 'Pago a Instituciones';

        this.$.createMovement.body = JSON.stringify(this.movement);
        this.$.createMovement.generateRequest();

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuLoading);
        this.$.techuLoading.open();
      }

      onAjaxCreateMovementResponse(event) {
        this.$.techuLoading.close();

        this.$.modalTransfer.close();
        this.$.modalPayment.close();

        let response = event.detail.xhr.response;
        let message = response.message;

        var body = document.querySelector('body');
        Polymer.dom(body).appendChild(this.$.techuAlert);
        this.$.techuAlert.open("success", response.message);

        this.resetList();
      }

      onAjaxCreateMovementError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }

      resetList() {
        this.skip = 0;
        this.index = 0;
        this.$.list.items = [];

        this.loadMoreDataMovements();
      }
    }

    window.customElements.define(TechuMovements.is, TechuMovements);
  </script>
</dom-module>