<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../component/util-date.html">
<link rel="import" href="../component/util-number.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../layout/techu-loading.html">
<link rel="import" href="../layout/techu-alert.html">

<dom-module id="techu-home">
  <template>
    <custom-style>
      <style is="custom-style" include="shared-styles">
        :host {
          display: block;
          padding: 10px;
        }

        .loadingIndicator {
          text-align: center;
          height: 40px;
        }

        paper-spinner {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        iron-list {
          padding-top: 5px;
          padding-bottom: 10px;
        }

        .personItem {
          @apply --layout-horizontal;
          margin: 16px 16px 0 16px;
          padding: 20px;
          border-radius: 8px;
          background-color: white;
          border: 1px solid #ddd;
        }

        .pad {
          padding: 0 16px;
          @apply --layout-flex;
          @apply --layout-vertical;
        }

        .primary {
          font-size: 16px;
          font-weight: bold;
        }

        #movimientos {
          height: calc(100vh - 64px);
          display: flex;
          flex-direction: column;
          overflow-y: auto;
        }
      </style>
    </custom-style>

    <iron-ajax id="getAllMovements" url="[[api.PATH_API]][[api.PATH_MOVEMENTS]]/?limit={{limit}}&skip={{skip}}" headers='{{headers}}'
      content-type="application/json" method="GET" handle-as="json" on-response="onAjaxGetAllMovementsResponse"
      on-error="onAjaxGetAllMovementsError"></iron-ajax>

    <div class="container">
      <div class="row mb-4">
        <div class="col-6">
          <span class="text-primary font-weight-bold">Mi Mes (S/. -120.00)</span>
        </div>
        <div class="col-6 row justify-content-center">
          <span class="text-primary font-weight-bold">01 SEP. / 14 SEP.</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 mb-3">
          <span class="text-primary font-weight-bold">Mis Ingresos (S/. 120.00)</span>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"><span class="font-weight-bold">25%</span></div>
          </div>
        </div>
        <div class="col-12">
          <span class="text-primary font-weight-bold">Mis Egresos (S/. 240.00)</span>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"><span class="font-weight-bold">50%</span></div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <iron-list id="list" indexAs="index" items="[]" as="item" scroll-target="[[scrollTarget]]">
            <template>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin: 10px 0px 10px 0px;">
                  <div class="d-flex w-100 justify-content-between mb-1">
                    <h5 class="font-weight-bold">
                      <util-date input-date=[[item.movementDate]]></util-date> -
                      <span>[[item.typeTransaction]]</span>
                    </h5>
                    <small class="font-weight-bold">[[item.typeCurrency]]</small>
                  </div>
                  <div class="row mb-1">
                    <span class="col-8">[[item.description]]</span>
                    <span class="col-4 text-right font-weight-bold">
                      <util-number input-number=[[item.amount]]></util-number>
                    </span>
                  </div>
                  <div>
                    <small>+ Cuenta de Cargo : </small>
                    <small>[[item.accountCharge]]</small>
                  </div>
                  <div>
                    <small>- Cuenta de Abono : </small>
                    <small>[[item.accountSubscription]]</small>
                  </div>
                </a>
              </div>
            </template>
          </iron-list>
          <iron-scroll-threshold on-lower-threshold="loadMoreData" id="threshold" scroll-target="[[scrollTarget]]"></iron-scroll-threshold>
        </div>
      </div>
    </div>

    <techu-alert id="techuAlert"></techu-alert>
    <techu-loading id="techuLoading"></techu-loading>
  </template>

  <script>
    class TechuHome extends Polymer.Element {
      static get is() { return 'techu-home'; }

      static get properties() {
        return {
          id: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
          headers: {
            computed: 'getHeaderAuthentication()'
          },
          mainSelected: {
            type: String,
            value: 'main'
          },
          selected: {
            type: Number,
            value: 0
          },
          movements: {
            type: Object,
            value: []
          },
          limit: {
            type: Number,
            value: 10
          },
          skip: {
            type: Number,
            value: 0
          },
          index: {
            type: Number,
            value: 0
          },
          scrollTarget: HTMLElement
        }
      }

      ready() {
        super.ready();
      }

      getHeaderAuthentication() {
        return {
          authorization: this.dataSession.idToken
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.id)'
        ]
      }

      _routePageChanged(page) {
        this.id = page;
      }

      _formatNumber(d) {
        let decimal = Number(d);
        let options = { minimumFractionDigits: 2, maximumFractionDigits: 2, currency: 'PEN' };
        return decimal.toLocaleString('es-PE', options);
      }

      loadMoreData() {
        if (this.module == 'techu-home') {
          this.skip = 10 * this.index;

          this.$.getAllMovements.body = JSON.stringify({});
          this.$.getAllMovements.generateRequest();

          this.$.techuLoading.open();
        }
      }

      onAjaxGetAllMovementsResponse(event) {
        this.$.techuLoading.close();

        let response = event.detail.xhr.response;

        response.forEach(function (movement) {
          this.$.list.push('items', movement);
        }, this);

        setTimeout(() => {
          if (response && response.length > 0) {
            this.set('index', this.index + 1);
          }

          this.$.threshold.clearTriggers();
        });
      }

      onAjaxGetAllMovementsError(event) {
        this.$.techuLoading.close();

        let response = event.detail.request.xhr.response;
        let message = response.message;
        this.$.techuAlert.open("danger", response.message);
      }
    }

    window.customElements.define(TechuHome.is, TechuHome);
  </script>
</dom-module>