<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="techu-loading">
    <template>
        <custom-style>
            <style is="custom-style" include="shared-styles">
                paper-dialog {
                    background: unset;
                    box-shadow: unset;
                }

                paper-spinner-lite {
                    height: 60px;
                    width: 60px;
                    margin: 0px;
                    padding: 0px;
                    --paper-spinner-stroke-width: 8px;
                }
            </style>
        </custom-style>

        <paper-dialog id='modalLoading' with-backdrop modal>
            <paper-spinner-lite active></paper-spinner-lite>
        </paper-dialog>
    </template>

    <script>
        class TechuLoading extends Polymer.Element {
            static get is() { return 'techu-loading'; }

            static get properties() {
                return {
                };
            }

            open() {
                this.$.modalLoading.open();
            }

            close() {
                this.$.modalLoading.close();
            }
        }

        window.customElements.define(TechuLoading.is, TechuLoading);
    </script>
</dom-module>