<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="techu-alert">
    <template>
        <custom-style>
            <style is="custom-style" include="shared-styles">
                .form-alert {
                    width: 100%;
                    max-width: 800px;
                    padding: 10px;
                    margin: 0 auto;
                }
            </style>
        </custom-style>

        <paper-dialog id='modalAlert' with-backdrop>
            <div class$="card-header alert-{{type}}" style="margin-top: 10px;margin-left: 20px;margin-right: 20px;">
                <div class="row text-center">
                    <div class="col-12">
                        <h3 class="h3 mb-1 font-weight-bold">
                            <span style="padding: 5px;">Mensaje de Alerta</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <form class="form-alert">
                    <div class="form-row">
                        <div class="col-sm-12 mb-1 alert-light">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <paper-button dialog-confirm class="btn btn-primary mt-2" style="width: 100px;">Aceptar</paper-button>
                    </div>
                </form>
            </div>
        </paper-dialog>
    </template>

    <script>
        class TechuAlert extends Polymer.Element {
            static get is() { return 'techu-alert'; }

            static get properties() {
                return {
                    type: {
                        type: String,
                        notify: true
                    },
                    message: {
                        type: String,
                        notify: true
                    }
                };
            }

            open(type, message) {
                this.type = type;
                this.message = message;

                if (this.type == 'success' && !this.message) {
                    this.message = 'Se ha procesado la operación correctamente';
                } else if (this.type == 'danger' && !this.message) {
                    this.message = 'Servicio no disponible';
                }
                this.$.modalAlert.open();
            }

            close() {
                this.$.modalAlert.close();
            }
        }

        window.customElements.define(TechuAlert.is, TechuAlert);
    </script>
</dom-module>