<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="techu-copyright">
  <template>
    <style>
      .form-forgot-password {
                width: 100%;
                max-width: 800px;
                padding: 20px;
                margin: 0 auto;
            }

            .form-forgot-password fieldset {
                background: white;
                padding: 25px;
            }
        </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <iron-ajax id="login" url=[[api.PATH_API]][[api.PATH_USERS]] content-type="application/json" method="POST"
      handle-as="json" on-response="onLoginAjaxResponse" on-error="onLoginAjaxError"></iron-ajax>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <form class="form-forgot-password" on-submit="onClickRegister">
            <fieldset>
              <legend class="text-center">
                <img class="mb-4" src="../assets/img/logo.png" alt="Logo BBVA" width="120" height="120">
                <h1 class="h3 mb-3 font-weight-bold">Techu BankApp - Reseteo de Contrase&ntilde;a</h1>
              </legend>
              <div class="form-group form-row">
                <label for="email" class="col-sm-2 col-form-label text-xs-left text-sm-right">Email :</label>
                <div class="col-sm-10 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input name="email" type="email" class="form-control" placeholder="Ingresar Email" value="{{email::input}}"
                    autocomplete="on" required>
                </div>
              </div>
              <div class="form-group form-row">
                <label for="currentPassword" class="col-sm-2 col-form-label text-xs-left text-sm-right">Password
                  (Actual) :</label>
                <div class="col-sm-10 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input name="currentPassword" type="password" class="form-control" placeholder="Ingresar Password (Actual)"
                    value="{{currentPassword::input}}" required>
                </div>
              </div>
              <div class="form-group form-row">
                <label for="newPassword" class="col-sm-2 col-form-label text-xs-left text-sm-right">Password
                  (Nuevo) :</label>
                <div class="col-sm-10 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input name="newPassword" type="password" class="form-control" placeholder="Ingresar Password (Nueva)"
                    value="{{newPassword::input}}" required>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <input type="submit" class="btn btn-primary mt-2" style="width: 100px;" value="Cambiar">
              </div>
              <div class="form-row justify-content-center">
                <p class="mt-5 mb-3 text-muted">&copy; Copyright 2018-2019</p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </template>

  <script>
    class TechuCopyright extends Polymer.Element {
      static get is() { return 'techu-copyrightd'; }

      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(TechuCopyright.is, TechuCopyright);
  </script>
</dom-module>